*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #272525;
}
.container{
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 5rem auto;
    height: 70vh;
    background-color: white;
    border-radius: 30px;
}
.container form{
    padding:30px 40px;
    background:transparent;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form h1{
    font-size: 40px;
    margin: 50px;
    width: 100%;
    text-align: center;
    text-shadow: 2px 4px 3px rgb(93, 90, 92);
    animation: scale 3s forwards infinite;

}
@keyframes scale{
    from{
        transform:none;
    }
    to{
        transform:scale(1.2);
        transition: 1s;

    }
}
form input{
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    border:1px solid rgb(91, 89, 89);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.49);
    box-shadow: 2px 2px 3px gray;
    outline:grey;
    font-size: 17px;

}
form button{
    padding: 10px 25px;
    border: none;
    outline: none;
    font-size: 20px;
    margin-top: 40px;
    background-color: rgb(2, 83, 2);
    color: white;
    font-weight: 500;
    border-radius:30px;
}
form button:hover{
    transform: scale(1.05);
    transition: 1s;
    cursor: pointer;
}
.container .side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 2rem;
    background-color: rgb(60, 60, 61);
    color: white;
    border-bottom-left-radius:30%;
    border-top-left-radius:30%;
}

.side p{
    font-size: 27px;
    font-weight: 600;
    text-shadow: 3px 2px 3px darkblue;
}
.side .btn{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}
.btn button{
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 30px;
    color: rgb(50, 47, 47);
    font-weight: 600;
}
.btn button:hover{
    scale: 1.05;
    transition: 0.6s;
    box-shadow: 1px 2px 3px rgb(224, 190, 190);
    cursor: pointer;
}
.social-media{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}
.social-media img{
    width: 40px;
    box-shadow:1px 2px 2px rgb(151, 144, 144) ;
    padding: 7px;
    border-radius: 6px;
    background-color: #fff;
    
}
.social-media img:hover{
    transform: scale(1.05);
    transition: 1s;
    cursor: pointer;
    box-shadow: -2px 1px 2px rgb(166, 207, 124);
}
@media (max-width:650px){
    .container form{
        padding: 20px;

    }
    .container form{
        width: 50%;
    }
    form h1{
        font-size: 1.7rem;
    }
    form input{
        width: 100%;
        font-size: 4vw;
    }
    
    .btn button{
        font-size: 3.5vw;
    }
}
@media (max-width:480px){
    body{
        background-color: rgb(28, 25, 25);
    }
    .container{
        flex-direction: column;
        background: none;
        margin-top: 10px;
        gap: 60px;
        
    }
    .container form{
        width:100%;
        background-color: rgb(242, 247, 252);
        border-radius: 10px;
    }
    form h1{
        font-size: 6vw;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    form button{
        font-size: 3vw;
    }
    .container .side{
        background: none;
    }
    .side p{
        display: none;
    }
    .side .btn{
        margin-top: 10px;
    }
    .social-media{
        gap: 15px;
    }
    .social-media img{
        width: 10vw;
    }

}   