*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #434242;
}
.container{
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 5rem auto;
    height: 70vh;
    background-color: white;
    border-radius: 30px;
}
.container form{
    padding:30px 50px;
    background:transparent;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form h1{
    font-size: 40px;
    margin: 50px;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(106, 105, 105);
    
}
form input{
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    border:1px solid grey;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.49);
    box-shadow: 2px 2px 3px gray;
    outline:grey;
    font-size: 17px;

}
form button{
    padding: 10px 25px;
    border: none;
    outline: none;
    font-size: 20px;
    margin-top: 40px;
    background-color: rgb(2, 83, 2);
    color: white;
    font-weight: 500;
    border-radius:30px;
}
form button:hover{
    transform: scale(1.05);
    transition: 1s;
    cursor: pointer;
}
.container .side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 2rem;
    background-color: rgb(46, 46, 48);
    color: white;
}
.side{
   
    border-bottom-left-radius:30%;
    border-top-left-radius:30%;
}
.side p{
    font-size: 25px;
    font-weight: 600;
}
.side .btn{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.btn button{
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 30px;
    color: rgb(50, 47, 47);
    font-weight: 600;
}
.btn button:hover{
    scale: 1.05;
    transition: 0.6s;
    box-shadow: 1px 2px 3px rgb(224, 190, 190);
    cursor: pointer;
}
.images{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.images img{
    width: 50px;
}
